/*
/*/

!/.gitignore
!/NEWS.md
!/README.md
!/README.Rmd
!/r-introduction-uker-2022.Rproj

## Folders:
!/R
/R/**
!/R/*.R

!/Rmd
/Rmd/**
!/Rmd/*.Rmd
!/Rmd/*.qmd
!/Rmd/*.md
# !/Rmd/*.html
# /Rmd/*solution.*

!/data
/data/**
!/data/synthetic_data*.csv
!/data/data_dictionary*.csv


!/.github
/.github/*
!/.github/workflows/
/.github/workflows/*
!/.github/workflows/*.yml


## Ignore all log-related files:
**/*[Ll]og*
**/*.log
.Rproj.user
